---
layout: Day
---
<div id="wrapper" class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
            <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}
        {% if site.compass.author %}
        <div class="author-container">
            <h1>{{ site.compass.author }}</h1>
        </div>
        {% endif %}
        {% if site.compass.tagline %}
        <div class="tagline-container">
            <p>{{ site.compass.tagline }}</p>
        </div>
        {% endif %}
    </header>
    <main>
        {% if site.compass.include_content %}
        <div class="content">
            {% include content.html %}
        </div>
        {% endif %}
    </main>
    <hr>

    {% include navBtns.html %}
</div>
<div id="contact" class="wrapper contact hidden">
    <h1 class="contactLabel">Contact</h1>
    <br>
    <div class="section group">
        <div class="col span_4_of_12">
            <div><i class="contact-icon fa-github fa"></i></div>
            <h4>
                <a href="https://github.com/nhoughto5/">Github</a>
            </h4>
        </div>
        <div class="col span_4_of_12">
            <div><i class="contact-icon fa-envelope-o fa"></i></div>
            <h4>
                <a href="mailto:nhoughto5@gmail.com?Subject=Contact%20from%20nickhoughton.ca">Email</a>
            </h4>
        </div>
        <div class="col span_4_of_12">
            <div><i class="contact-icon fa-linkedin fa"></i></div>
            <h4>
                <a href="https://www.linkedin.com/in/nghoughton/">LinkedIn</a>
            </h4>
        </div>
    </div>
    <br>
    <p>I would love to hear from you!</p>
    <hr>
    {% include navBtns.html %}
</div>

