---

---
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/portfolio.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/twinkle.css">
<div class="wrap">

    <div class="night">
        <div class="stars"></div>
        <div class="twinkling"></div>
        <div class="clouds"></div>
    </div>
    <div class="portfolioContent">

    <div class="container-fluid titleWrapper">
        <div class="row">
            <div class="col-md-12">
                <h1>Portfolio</h1>
                <h3><a>Here is what I've been working on!</a></h3>
            </div>
        </div>
    </div>

    <div class="container-fluid portfolioGrid">

        <!--========== ROW ===========-->
        <div class="row equal">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <!--{% include portfolio/tpohs.html %}-->
                {% include portfolio/DeadEarth.html %}
            </div>
            <div class="col-md-4">
                {% include portfolio/RealTimeStrategy_UE4.html%}
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <!--=========== Row End ============-->
        <!--========== ROW ===========-->
        <div class="row equal">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                {% include portfolio/pippa.html %}
            </div>
            <div class="col-md-4">
                {% include portfolio/shaderToy.html %}
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <!--=========== Row End ============-->
        <!--========== ROW ===========-->
        <div class="row equal">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                {% include portfolio/youtube.html %}
            </div>
            <div class="col-md-4">
                {% include portfolio/tpohs.html %}
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <!--=========== Row End ============-->
        <!--========== ROW ===========-->
        <div class="row equal">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                {% include portfolio/ThreeJSPlayground.html %}
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <!--=========== Row End ============-->
    </div>
    </div>
</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>