<div class="portfolioEntry">
    <a href="http://www.thepartyonhighstreet.com/">
        <h3>Dead Earth</h3>
    </a>
    <a href="http://www.thepartyonhighstreet.com/">
        <img alt="Bootstrap Image Preview" src="/images/deadEarth.png" class="img-rounded entryImage" />
    </a>
    <hr>
    <dl>
        <dt>
            What is it?
        </dt>
        <dd>
            A first person shooter game made with Unity 5.
        </dd>
        <dt>
            Details
        </dt>
        <dd>
            Dead Earth is a first person Zombie shooter game made with Unity 5 and C#.
            This game was made following the <a href="https://www.gameinstitute.com/deadearth/">Dead Earth Development Series</a> from the <a href="https://www.gameinstitute.com/">Game Institute</a>.
            Zombies are full AI capable of seek and destroy, target relocation and reanimation.
        </dd>

        <dd>
            Check out my repository <a href="https://github.com/nhoughto5/DeadEarth">here</a>.
        </dd>
    </dl>
</div>