<div class="portfolioEntry">
    <a href="https://youtu.be/QGPUyBMfrIA">
        <h3>Real Time Strategy - UE4</h3>
    </a>
    <a href="https://youtu.be/QGPUyBMfrIA">
        <img alt="Bootstrap Image Preview" src="/images/Ue4Logo.jpg" class="img-rounded entryImage" />
    </a>
    <hr>
    <dl>
        <dt>
            What is it?
        </dt>
        <dd>
            I've been playing around with the templates of the Unreal Engine 4.
            The default mechanics of the engine are fantastic for first person, third person and 2D games.
            I thought it would be a fun challenge to attempt to set up an RTS system.
            Free-form camera and AI player characters.
            <br>
            <br>
            Check out my video demonstrating it working <a href="https://youtu.be/QGPUyBMfrIA">here!</a>
        </dd>
    </dl>
</div>