<div class="portfolioEntry">
    <a href="https://www.shadertoy.com/user/nhoughto">
        <h3>Shader Toy</h3>
    </a>
    <a href="https://www.shadertoy.com/user/nhoughto">
        <img alt="Bootstrap Image Preview" src="/images/shaderToy.png" class="img-rounded entryImage phillsLogo" />
    </a>
    <hr>
    <dl>
        <dt>
            What is it?
        </dt>
        <dd>
            Shader toy is a website for practice and demonstration of GPU shader programs.
            It's a really great way to get practice and have fun with rendering and graphics techniques.
            I've been playing with a few programs for a while to hone my skills.
            <br>
            Check out my discussions of my expereince with ShaderToy <a href="{{site.baseurl}}/Categories/ShaderToy/">here.</a>
        </dd>
        <dt>Here are a couple of my very first experiments!</dt>
        <br>
        <ul>
            <li><a href="https://www.shadertoy.com/view/MljczD">Green Screen Replacement</a>: Replacing a green screen with a second video.</li>
            <li><a href="https://www.shadertoy.com/view/lt2cDR">Moving sin wave</a>: Playing with some trig!</li>
            <li><a href="https://www.shadertoy.com/view/XlSczV">Checkered Grid</a>: Getting a better feel for fragment positions.</li>
        </ul>
        <br>
        <div style="text-align: center">
            <h3>More to Come!</h3>
        </div>

    </dl>
</div>