<div class="portfolioEntry">
    <a href="/FirstPerson">
        <h3>ThreeJS Playground</h3>
    </a>
    <a href="/FirstPerson">
        <img alt="Bootstrap Image Preview" src="/images/firstPerson.png" class="img-rounded entryImage" />
    </a>
    <hr>
    <dl>
        <dt>
            What is it?
        </dt>
        <dd>
            This is an example of some of my experiments with ThreeJS.
            <a href="/FirstPerson">Check it out!</a>
            This one is just a small first person scene with some lumber jacks and a pirate ship.
        </dd>
        <dt>
            What did I use?
        </dt>
        <dd>
            For this fidget I used <a href="https://threejs.org/">ThreeJS</a>.
        </dd>
        <dt>
            How do I use it?
        </dt>
        <dd>
            There isn't much to, but you can walk around the scene using the following keyboard controls:

            <ul>
                <li>Forward: W</li>
                <li>Backward: S</li>
                <li>Strafe Left: A</li>
                <li>Strafe Right: D</li>
                <li>Turn left: Q</li>
                <li>Turn Right: E</li>
                <li>Float Up: Z</li>
                <li>Float Down: X</li>
            </ul>
        </dd>
    </dl>
</div>