<div class="portfolioEntry">
    <a href="https://youtu.be/zOmCgc2A0so">
        <h3>Two hour first person scene - Unity 5</h3>
    </a>
    <a href="https://youtu.be/zOmCgc2A0so">
        <img alt="Bootstrap Image Preview" src="/images/unity5.png" class="img-rounded entryImage" />
    </a>
    <hr>
    <dl>
        <dt>
            What is it?
        </dt>
        <dd>
            I was flying from Los Angeles to Vancouver B.C. and had my work laptop with me. I decided to see if I could remember all of my 'training' and do a first person scene from memory. Didn't want to spend the $4.99 on the inflight wifi so had no examples to refer to. I did use the scripting API reference which ships with Unity because who can remember method names.... so not 100% from memory but still a good exercise!
            <br>
            <br>
            Check out my video demonstrating it working <a href="https://youtu.be/zOmCgc2A0so">here!</a>
        </dd>
    </dl>
</div>