<div class="portfolioEntry">
    <a href="https://www.youtube.com/channel/UCAknudGHDMbK5rgCjXPuGfA">
        <h3>My YouTube Channel</h3>
    </a>
    <a href="hhttps://www.youtube.com/channel/UCAknudGHDMbK5rgCjXPuGfA">
        <img alt="Bootstrap Image Preview" src="/images/youtube.png" class="img-rounded entryImage youtubeLogo" />
    </a>
    <hr>
    <dl>
        <dt>
            My YouTube channel
        </dt>
        <dd>
            I have a number of fiddlings and past projects shown and described on my youtube channel.
            I've made videos either showing or describing them.
        </dd>
        <dt>
            Here are some links for you to see!
        </dt>
        <dd>
            <ul>
                <li>
                    <a href="https://www.youtube.com/playlist?list=PLAEBua8AEscXK1gH5sE_dRe_1dMddsx51">Globular Physics</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=z7ysDaiDAw4">Pendulum Using Lagrangian Mechanics</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=KRg_u9SRv-k">Jump Ship: 2D game with Unity</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=j6YafuEeoOs">Building Escape: 3D Puzzle level with the Unreal Engine</a>
                </li>
            </ul>

        </dd>
    </dl>
</div>