<div class="section group">
    <div class="col span_3_of_12"></div>
    <!--<div class="col span_1_of_12 noUnderline" style="text-align: center"><a href="https://github.com/nhoughto5" class="fa fa-github fa-3x"></a></div>-->
    <div class="col span_1_of_12 noUnderline tooltip" style="text-align: center"><a id="homeBtn" onclick="toggleContactPage('home')" class="fa fa-home fa-3x"></a><span class="tooltiptext">Home</span></div>
    <div class="col span_1_of_12 noUnderline tooltip" style="text-align: center"><a id="contactBtn" onclick="toggleContactPage('contact')" class="fa fa-envelope fa-3x"></a><span class="tooltiptext">Contact</span></div>
    <div class="col span_1_of_12 noUnderline tooltip" style="text-align: center"><a href="/Portfolio" class="fa fa-code fa-3x"></a><span class="tooltiptext">Portfolio</span></div>
    <div class="col span_1_of_12 noUnderline tooltip" style="text-align: center"><a href="/public/Hootin" class="fa fa-music fa-3x"></a><span class="tooltiptext">Music</span></div>
    <div class="col span_1_of_12 noUnderline tooltip" style="text-align: center"><a href="/Blog" class="fa fa-bullhorn fa-3x"></a><span class="tooltiptext">Blog</span></div>
    <div class="col span_1_of_12 noUnderline tooltip" style="text-align: center"><a href="https://github.com/nhoughto5/" class="fa fa-github fa-3x"></a><span class="tooltiptext">Github</span></div>
    <div class="col span_3_of_12"></div>
</div>