---
# Comment
---
$text-color: #46433A;
$anchor-text-color: #CE534D;
$background-color: #F1EED9;



.Post{
  padding: 100px 0;
  max-width: 800px;
  margin: 0 auto;
  .postContent{
    padding: 60px 80px;
    background-color: rgba(255, 255, 255, 0.8);
    .post-navlink {
      display: inline-block;
      margin-right: 20px;
    }
    h3 {
      margin-top: 40px;
      font-size: 150%;
    }
    h5 {
      text-align: center;
    }
    .title{
      text-align: center;
      margin-top: 50px;
    }
    .post-header:after {
      display: block;
      height: 2px;
      background-color: $text-color;
      content: "";
      width: 250px;
      margin: 20px auto;
    }
    .post-content-body {
      padding-top: 20px;
    }
    //a:link,
    //a:visited,
    //a:hover,
    //a:active {
    //  //color: $anchor-text-color;
    //  color: $anchor-text-color;
    //  text-decoration: none;
    //}
  }
  @media screen and (max-width: 699px) {
    .postContent {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  @media screen and (max-width: 499px) {
    .postContent {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  code{
    color:red;
    font-size: 0.8em;
    font-style: oblique;
  }
}

.blogPage {
  .title {
    text-align: center;
    font-size: 2.25em;
    border-bottom: 1px solid #343738;
  }

  .blogContent {
    list-style-type: none;
    .postTitle {
      color: red;
    }
  }

  .blogNav {
    text-align: center;
    .blogNavCategory {
      display: inline-block;
      text-transform: uppercase;
      list-style-type: none;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

}

