---
layout: Day
---

<div class="wrapper blogPage">
    <div class="post-header">
        <p class="post-navlink"><a href="/"><i class="fa fa-home"></i>&nbsp;Home page</a></p>
    </div>
    <h1 class="title">Blog</h1>
        <ul class="blogNav">
            {% for category in site.categories %}
            <li class="blogNavCategory">
                <a href="/Categories/{{ category | first | strip_html }}">{{ category | first | strip_html }} </a>
            </li>
            {% endfor %}
            <li class="blogNavCategory">
                <a href="/Blog">All</a>
            </li>
        </ul>
        <hr>

        <div class="blogContent">
            {{ content }}
        </div>

</div>